# Ignore the Dataset
Neural\ Network\ -\ Project\ 3/PlantCLEF_Combined/
Neural\ Network\ -\ Project\ 3/PlantCLEF2020TrainingData/
NLP Application - Project 4/Sports_and_Outdoors_5.json.gz
NLP Application - Project 4/Sports_and_Outdoors_5.json
RNN - Project 5/glove.6B.100d.txt
RNN - Project 5/Old
GAN Dogs - Project 6/data
GAN Dogs - Project 6/train
GAN Dogs - Project 6/test_200_database
Image Blocker CNN - Project 7/data